<a href="https://colab.research.google.com/github/Jangyunho-2020130902/2022classsspring/blob/main/20220316.ipynb%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=1 
print(a)
print(type(a))

1
<class 'int'>

변수는 number 과 string이 있다. a=1은 a의 라는 변수에 1을 넣은 것이다. 이때 a의 타입은 int라 한다. print는 a값을 출력하라는 명령어이다. a의 타입을 출력하려면 
print(type(a))라 한다.

In [7]:
a=1.2; print(type(a))

<class 'float'>

소수 1.2타입은 float라 한다.

In [15]:
a='hello'; print(type(a))
print(a[1]) 
print(a[:])
print(a[1:4])

<class 'str'>
e
hello
ell

이렇게 일련의 문자로 나열된 것을 string이다. 숫자 배열로 이루어질 수 있다. 
print(a[1])은 문자열 중에서 1번째로 시작하는 단어이다. 0부터 시작하기에 e가 출력되었다. print(a[:])는 a를 전부 나열하는 것이다. 따라서 hello가 도출되었다
print(a[1:4])는 a 문자열에서 1번부터 3번째까지 도출하라는 의미이다. 4는 포함하지 않는다.

In [19]:
a=[1,2,3,4]; print(type(a)) ; print(a[2])

<class 'list'>
3

여러 변수들의 나열을 list라 한다. print(a[2])는 list에서 2에 위치한 변수이다. 이 역시 0부터 시작한다.

In [21]:
a=['apple',1,[2,3]]; print(type(a)); print(a[2])

<class 'list'>
[2, 3]

이렇게 list안에 string과 inst 를 같이 넣어도 작동한다.

In [30]:
a=  {"a":"영어영문학과","b":"장윤호"}; print(type(a)); print(a["b"])

<class 'dict'>
장윤호

dic는 a의 "a"를 영어영문학과로 "b"를 장윤호로 정의한다.